*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  font-weight:200;
  text-transform: uppercase;
  color:white;
}

html, body{
  background-color:#161616;
  width:100%;
  height:100%;
}

main{
  position:fixed;
  width:100%;
  height:100%;
  /* background-color:red; */
}

.scrollable{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:100px;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  display:flex;
  justify-content:center;
  will-change:transform;
}

.image__grid{
  position:relative;
  display:grid;
  grid-template-columns:repeat(12,1fr);
  width:100%;
  max-width:1000px;
  margin-x:auto
}

.image__container{
  position:relative;
  overflow:hidden;
  margin-bottom:5rem;
  padding-top:120%;
  border-radius:10px;
}

img{
  position:absolute;
  top:-20%;
  width:100%;
  height:140%;
  object-fit:cover;
  object-position:center;
  will-change:transform;
}

.overlay{
  position:absolute;
  inset:0;
  background-color:rgba(255,255,0,0.2);;
  /* background-color:rgb(65,64,50); */
  z-index:1;
  mix-blend-mode:screen;
}


.pixel{
position:absolute;
z-index:2;
width:20px;
height:20px;
transition:1s;
}

.pixel:hover{
background-color:rgba(255,255,0,0.627);
transition:0s;
}

h1{
  padding-bottom:100px;
}

footer{
  color:#FFFF00;
}
